/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2020, 8:45:38 PM
    Author     : gy
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../imgs/back_ground.jpg") fixed;
}
