
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.bigCon{
    margin: 70px;
}

.card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 7px 7px 7px 7px;
    height: 500px;
    width: 1000px;
    margin: 40px auto;
}

.preview img {
    float: left;
    height: 500px;
    width: 500px;
    border-radius: 7px 0 0 7px;
}


.details {
    float: left;
    height: 500px;
    width: 500px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    text-align: justify;
}

.product-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.product-description {
    font-size: 15px;
}

.product-title, .product-description {
    margin: 30px;
}


.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-collapse: separate;
    border-spacing: 30px 10px;
}

.output {
    font-family: 'Montserrat', sans-serif;
    color: #C45AEC;
}

.button-con{
    margin-bottom: 50px; 
}

.not-available {
    text-align: center;
    line-height: 2em;
}

    .not-available:before {
        font-family: 'Montserrat', sans-serif;
        content: "\f00d";
        color: #fff;
    }

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}


.select {
    position: absolute;
    left: 160px;
    top: -38px;
}


.buttondesign {
    border-radius: 20px;
    border: 1px solid #C45AEC;
    background-color: #C45AEC;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px;
    text-decoration: none !important;
    transition: 0.8s ease;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

    .buttondesign:hover {
        background-color: red;
        border: 1px solid red;
        transition: 0.8s ease;
        box-shadow: none;
    }

.buttondesign-back {
    border-radius: 20px;
    border: 1px solid red;
    background-color: red;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-decoration: none !important;
    transition: 0.8s ease;
}

    .buttondesign-back:hover {
        transition: 0.8s ease;
        box-shadow: none;
    }

